body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: rgb(233, 233, 233);
}
table {
    border: 2px solid black;
    width: 100%;
}
table td,th {
    border: 1px solid black;
}
a {
    text-decoration: none !important;
}